/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Put your name here
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1. Includes */
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Sansita');

/*  2.  General Styles (for all pages and devices) */
html {
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   font-family: helvetica, sans-serif;
   font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: sansita, sans-serif;
}

.tile {
   background-color: rgba(200, 200, 200, .6);
   margin: .2em auto;
   border: 1px solid;
   border-radius: 15px;
}

nav ul li {
   display: inline-block;
   list-style: none;
}

ul {
   list-style-type: none;
}

footer {
   margin-bottom: 2em;
}

.head>h2 {
   font-size: 2em;
   font-weight: 600;
}

/*  3.  Mobile First (styles specific to small screens) */
header h1,
ul,
.head>h2,
p {
   margin: 0;
   padding: 0;
}

nav {
   position: fixed;
   bottom: 0;
   left: 0;
}

html {
   overflow: auto;
}

header {
   padding: 5px;
}

header,
#demographics {
   display: flex;
   width: 100%;
}

header img {
   width: 10%;
   height: 10%;
}

header h1 {
   padding-left: 10px;
   font-size: 1.5em;
   font-weight: 100;
}

.head {
   padding-left: 10px;
}

nav {
   background-color: aliceblue;
   width: 100%;
   text-align: center;
   font-size: 16px;
   padding: 5px;
   padding-top: 10px;
}

a {
   text-decoration: none;
}

#demographics p {
   font-size: 14px;
   padding-left: 5px;
   margin-top: 10px;
}

#demographics p:first-child {
   padding-left: 0;
}

.widgets {
   margin: 0% 20%;
}

.widgets .tile {
   height: 200px;
   margin: 10px 0px;
}

.widgets .tile h3 {
   display: none;
}

#large-temp {
   font-size: 5em;
   padding: 5px;
   text-align: center;
}

#large-temp span {
   font-size: 4rem;
   vertical-align: .3em;
}

.widgets .tile div {
   display: flex;
   position: relative;
}

.widgets .tile div p:first-child {
   padding-left: 30%;
   color: red;
}

.widgets .tile div p:last-child {
   padding-left: 10%;
   color: blue;
}

#feels-like {
   text-align: center;
}

#compass-north {
   text-align: center;
}

#wind-direction,
#wind-direction+p {
   text-align: center;
}

.widgets .tile:last-child {
   padding-left: 15px;
   padding-right: 15px;
}

.widgets .tile:last-child h3 {
   margin: 0;
   text-align: center;
   font-size: 1.5em;
   display: block;
}

#rain-pic {
   width: 100%;
   border: 2px black solid;
}

/*  4.  Large Screen Styles (Media Queries begin here) */
@media screen and (min-width: 750px) {

   /* All large screen CSS rules */
   body {
      padding: 0px 30px;
   }

   header>h1 {
      font-size: 60px;
   }

   header>img {
      width: 10%;
      height: 10%;
   }

   nav {
      position: relative;
      border: 2px solid black;
      width: 80%;
   }

   nav>ul {
      padding: 5px;
      padding-top: 0px;
      text-align: left;
      justify-content: space-around;
   }

   nav>ul>li {
      padding-left: 20px;
   }

   main {
      width: 100%;
      height: 100%;
   }

   #demographics>p {
      padding-right: 20px;
      border-left: 2px solid;
   }
   #demographics>p:first-child {
      border-left: none;
   }
   .widgets {
      margin: 0 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 50%;
   }

   .widgets>.tile {
      margin: 40px 0;
      width: 30%;
      height: 300px;
   }

   #forecast {
      border: 2px solid black;
      border-radius: 15px;
   }

   ul::-webkit-scrollbar {
      width: 12px;
   }

   ul::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
   }

   ul::-webkit-scrollbar-thumb {
      border-radius: 15px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
   }

   #forecast>h4 {
      margin: 5px;
      padding-left: 10px;
   }

   #forecast>ul {
      display: flex;
      overflow-x: auto;
   }

   #forecast>ul>li {
      border-right: 2px solid;
      white-space: nowrap;
      padding: 0px 10px;
   }

   #forecast>ul>li:last-child {
      border-right: none;
   }

   footer>hr {
      background-color: black;
      height: 2px;
   }
}