@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Playfair+Display|Source+Sans+Pro');

* {
   box-sizing: border-box
}

html,
body,
p,
header h1 {
   margin: 0;
   padding: 0;
}

html,
body {
   height: 100%;
   width: 100%;
}

body {
   background-color: #DAD2D8;
}

p,
h1,
h2,
h3, li {
   color: #143642;
   font-family: 'Nanum Myeongjo', serif;
}

p, li {
   font-family: 'Source Sans Pro', sans-serif;
}

header {
   background-color: #0F8B8D;
   text-align: center;
   padding: 2%;
   color: #DAD2D8;
}

header h1 {
   color: #DAD2D8;
   font-family: 'Playfair Display', serif;
   font-weight: 200;
   font-size: 2em;
}

nav {
   text-align: left;
   padding: .5%;
   padding-left: 20%;
}

nav a {
   color: #A8201A;
   padding: .75% 2%;
   text-transform: uppercase;
   text-decoration: none;
   transition: all .2s ease-in-out;
   font-family: 'Nanum Myeongjo', serif;
}

nav a:hover {
   color: #DAD2D8;
   background-color: #A8201A;
}

nav ul {
   margin: 0;
   padding: 0;
}

nav ul li {
   list-style-type: none;
}

hr {
   margin: 0;
   color: #A8201A;
   border: 0;
   height: 1px;
   background-image: -webkit-linear-gradient(left, #DAD2D8, #A8201A, #DAD2D8);
   background-image: -moz-linear-gradient(left, #DAD2D8, #A8201A, #DAD2D8);
   background-image: -ms-linear-gradient(left, #DAD2D8, #A8201A, #DAD2D8);
   background-image: -o-linear-gradient(left, #DAD2D8, #A8201A, #DAD2D8);
}

main {
   width: 95%;
   margin: auto;
   padding-top: 20px;
}

main p {
   padding: 5px 0;
   padding-left: 5%;
}

section {
   display: flex;
   flex-flow: wrap;
}

img {
   width: 100%;
   height: auto;
}

.tile {
   border: 2px solid black;
   width: 50%;
}

.tile h2 {
   text-align: center;
   margin: 0;
   padding-bottom: 10px;
}

.tile ul {
   padding-left: 5px;
   list-style-type: none;
}

.large-info {
   display: none;
}

a {
   color: #A8201A;
   text-decoration: none;
   transition: all .2s ease-in-out;
}

a:hover {
   position: relative;
   color: #0F8B8D;
}

footer {
   position: relative;
   width: 100%;
   bottom: 0;
   background-color: #0F8B8D;
   text-align: center;
   padding: 1%;
   margin-top: 10px;
}

footer p {
   color: #DAD2D8;
}

@media screen and (min-width: 750px) {
   main {
      width: 80%;
   }
   header h1 {
      font-size: 3em;
   }
   h2 {
      font-size: 2em;
   }
   .tile ul {
      font-size: 1.5em;
   }
   .small-info {
      display: none;
   }
   .large-info {
      display: block;
   }
}